/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

html{
    font-family:"EuclidCircularA", sans-serif;
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.clear{
    clear: both;
}

/* .row::after{
    content: "";
    display: block;
    clear: both;
} */

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-3{
    width: 33.3333%;
}

.col-2{
    width: 50%;
}

.col-1{
    width: 100%;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.justify-between{
    justify-content: space-between;
}
.mb-200{
    margin-bottom: 200px;
}
.plr-35{
    padding: 0 35px !important;
}
.mb-80{
    margin-bottom: 80px;
}

/* Header */
#header{
    padding: 20px 0 110px 0;
}
.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 12px;
    margin: auto;
}
.header-left{
    font-size: 19px;
    font-weight: bolder;
    line-height: 30px;
}
.lineheight-header{
    line-height: 47.6px;
}
.header-right-link{
    display: flex;
    float: right;
    align-items: center;
    text-decoration: none;
    color: #0d6efd;
    font-size: 20px;
    letter-spacing: .5px;
    transition: .5s;
}
.header-right-link::before{
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/header-right.svg');
    margin-right: 12px;
}
.header-right-link:hover{
    opacity: 0.7;
}

/* Section 1 */
.section1-title{
    margin: 0 auto 40px;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.04em;
    max-width: 730px;
}
.section1-btn{
    margin-top: 6px;
    display: inline-block;
    background: #0047FF;
    border-radius: 40px;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 200px;
    padding: 20px 40px;
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}
.section1-btn:hover{
    opacity: 0.7;
}

/* Section 2 */
#section2{
    margin-top: 170px;
}
.section2-title,.section3-title,.section4-title{
    font-size: 48px;
    line-height: 54px;
    padding-bottom: 10px;
}
.section2-description{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.52);
    line-height: 34px;
    margin: 0 auto 100px auto;
    max-width: 600px;
}
.img1-section2{
    margin-bottom: 200px;
}
.img2-section2{
    width: 100%;
}
.section2-textleft{
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
    max-width: 451px;
}
/* Section 3 */
#section3{
    margin-top: 170px;
}
.container-section3{
    width: 100%;
    margin: auto;
}
.section3-title{
    max-width: 598px;
    text-align: center;
    margin: auto;
    margin-bottom: 120px;
}
.section3-main{
    padding: 165px 53px;
    background-color: #000;
}
.section3-box{
    width: 100%;
    padding: 0 12px;
}
.section3-img{
   width: 100%;
}
/* Section4 */
#section4{
    margin-top: 170px;
}
.section4-title{
    max-width: 569px;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
}
.tab-list{
    list-style: none;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.05);
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    margin: auto;
}
.tab-pane{
    padding: 20px 20px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    transition: .5s;
    cursor: pointer;
}
.tab-pane.active{
    color: #000;
}
.tab-pane:hover:not(.active){
    color: rgba(0, 0, 0, 0.3);
}
.section4-main{
    margin-top: 110px;
}