/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

html{
    font-family: "EuclidCircularA", sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.clear{
    clear: both;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-3{
    width: 33.3333%;
}

.col-2{
    width: 50%;
}

.col-1{
    width: 100%;
}


/* Header */
#header{
    padding: 20px 0 110px 0;
}
.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 12px;
    margin: auto;
}
.header-left{
    font-size: 20px;
    font-weight: bolder;
}