/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

html{
    font-family: "EuclidCircularA", sans-serif;
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.clear{
    clear: both;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-3{
    width: 33.3333%;
}

.col-2{
    width: 50%;
}

.col-1{
    width: 100%;
}
.text-right{
    text-align: right;
}


/* Header */
#header{
    padding: 20px 0 110px 0;
}
.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 12px;
    margin: auto;
}
.header-left{
    font-size: 19px;
    font-weight: bolder;
    line-height: 30px;
}
.lineheight-header{
    line-height: 47.6px;
}
.header-right-link{
    display: flex;
    float: right;
    align-items: center;
    text-decoration: none;
    color: #0d6efd;
    font-size: 20px;
    letter-spacing: .5px;
    transition: .5s;
}
.header-right-link::before{
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/header-right.svg');
    margin-right: 12px;
}
.header-right-link:hover{
    opacity: 0.7;
}